@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

.dark {
  --background: #0F172A;
  --foreground: #ffffff;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-geist-sans), system-ui, sans-serif;
}

@layer base {
  html {
    scroll-behavior: smooth;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.bg-gradient-overlay {
  background: linear-gradient(to right top, rgba(15, 23, 42, 0.9), rgba(166, 123, 91, 0.2), rgba(208, 230, 247, 0.3));
  backdrop-filter: blur(4px);
}
